/* Center logo for small screens */
@media (max-width: 768px) {
    .navbar-brand {
        display: flex;
        justify-content: center;
        width: 100%; /* Ensure the logo is centered */
    }
  
    .navbar-toggler {
        position: absolute;
        top: 10px;
        right: 20px;
    }
  
    .collapse {
        text-align: center; /* Center align menu items */
    }
  }
  
  .fw-bold{
    color: orange;
  }
  
  .ft-24{
    color: orange;
  }
  
 /* CSS for Navbar */

/* พื้นหลัง Navbar สีดำและตัวหนังสือสีขาว */
.navbar {
  background-color: #fff; /* พื้นหลังสีดำ */
  color: #fff;
}

.navbar .navbar-brand img {
  display: block;
  margin: auto; /* โลโก้ให้อยู่ตรงกลางในหน้าจอเล็ก */
}

.navbar .nav-link {
  color:#f39c12; /* ตัวหนังสือสีขาว */
  font-weight: 500; /* เพิ่มน้ำหนักตัวหนังสือ */
  transition: color 0.3s ease; /* สีเปลี่ยนแบบ smooth */
}

.navbar .nav-link:hover {
  color: #f39c12; /* สีเปลี่ยนเป็นเหลืองทองเมื่อ hover */
}

.navbar-toggler {
  border-color: #fff; /* เส้นขอบ Toggler สีขาว */
}



/* ปรับในหน้าจอเล็ก */
@media (max-width: 768px) {
  .navbar {
      text-align: left; /* ชิดซ้าย */
  }
  
  .navbar .navbar-collapse {
      background-color:#000; /* พื้นหลังดำในหน้าจอเล็ก */
      color: #fff;
  }
  
  .navbar .nav-link {
      color: #fff;
      padding-left: 15px; /* เพิ่มระยะห่างชิดซ้าย */
  }
  
  .navbar .navbar-brand img {
      display: block;
      margin: auto; /* โลโก้อยู่ตรงกลาง */
  }
}